{% extends 'base.html.twig' %}

{% block title %}{{"Add a new car"|trans}}{% endblock %}

{% block body %}
    <center><h1>{{"Add a new car"|trans}}</h1></center>

    <div class="container">
        {{ include('cars/_form.html.twig') }}
    </div>

    <br>
    <center>
		<button class="btn btn-outline-secondary" type="button" onclick="location.href='{{ path('cars_index') }}'">{{"Back to list"|trans}}</button>
	</center>
{% endblock %}
